/* CSS VARIABLES */
:root {
    --primary-color: #4a9ad4;
    --orange: #F25C3C;
    --title-color: #091022;
    --body-color: #676B76;
}

/* FONT FACE DECLARATIONS */
@font-face {
    font-family: 'Oswald';
    src: url('font/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('font/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('font/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('font/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('font/Inter-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('font/Inter-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('font/Inter-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input:focus-visible {
    outline: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

/*GLOBAL CLASS*/
.container {
    max-width: 1320px;
    margin: 0 auto;
}

.w-full {
    width: 100%;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.gap-48 {
    gap: 48px;
}

.fs-16 {
    font-size: 16px;
}

.fw-700 {
    font-weight: 700;
}

.title-color {
    color: var(--title-color);
}

.body-color {
    color: var(--body-color);
}

/*COMPONENT*/
.section-padding {
    padding: 86px 0;
}

.btn-primary {
    background: var(--orange);
    padding: 16px 40px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    width: fit-content;
}

.title-section {
    text-align: center;
    margin-bottom: 60px;

    h6 {
        font-width: 700;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin-top: 20px;
    }
}

/*HEADER-SECTION*/
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fff;
    /* position: absolute; */
    width: 100%;
    top: 0;

    .logo {
        width: 200px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 20px;
        font-weight: 700;
    }
}

.hero-section-home{
    position: absolute  !important;
    background: #09102260 !important;

    a {
            color: #ffffff;
            padding: 0 16px 12px;
            transition: all 0.3s;
            border-bottom: 2px solid transparent;

            &:hover,
            &.active {
                transition: all 0.3s;
                border-color: #fff;
            }
        }
}

/*HERO-SECTION*/
.hero-section {
    background-image: url('../images/hero.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    padding-bottom: 80px;

    h1 {
        font-size: 50px;
        color: white;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 130px;
        margin-bottom: 60px;
    }

    .content-box {
        background: #091022B8;
        padding: 30px;
        max-width: 1096px;
        margin: 0 auto;
        display: flex;
        gap: 24px;

        .icon-box {
            display: flex;
            align-items: center;
            gap: 8px;

            h4 {
                font-size: 24px;
                line-height: 40px;
                color: white;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
            }
        }

        .form-box {
            margin-left: auto;
            background: #ECECEC;
            padding: 40px;
        }

    }

    .form-box {
        h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-family: 'Inter', sans-serif;

            .input-content {
                display: flex;
                gap: 8px;
                align-items: center;
                background: #fff;
                padding: 12px 20px;

                input {
                    border: none;
                }
            }

        }
    }

}

/*CONTACT-SECTION*/
.contact-section {
    background: #ECECEC;
    padding: 40px 0;
}

/*JAAR-SECTION*/
.jaar-section {
    padding: 30px 0;

    .jaar-content {
        text-align: center;
        border-right: 1px solid #00000033;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
            border-right: none;
        }
    }
}

/*SNEL-SECTION*/
.snel-section {
    background: #EFEFEF;
    padding: 40px 0;
}

/*DAAROM-SECTION*/
.daarom-section {
    .daarom-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 32px;

        h4 {
            margin-top: 32px;
            margin-bottom: 16px;
            font-size: 24px;
            font-weight: 700;
        }

        p {
            text-align: center;
        }
    }
}
